<div class="card w-100">
    <div class="card-body">
        <h5 class="card-title"><i class="far fa-bell fa-2x ml-3"></i></h5>
        <div class="table-responsive-md">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="border-top-0">Datum</th>
                  <th class="border-top-0">Bezeichnung</th>
                  <th class="border-top-0">Erinnerung</th>
                  <th class="border-top-0" >Aktion</th>
                  <!-- <th class="border-top-0"> </th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of notes; let i = index">
                  <td>{{ item.noteDate | date: "dd.MM.yy" }}</td>
                  <td>{{ item.description }}</td>
                  <td>{{ reminders[item.reminder] }}</td>
                  <td>
                    <div class="btn btn-outline-primary" (click)="sendMail(item)">
                        <i class="far fa-envelope"></i>
                    </div>
                  </td>
                  <!-- <td>
                      {{calculateDiff(item.noteDate)}}
                  </td> -->
                </tr>
              </tbody>
              <tfoot *ngIf="notes.length < 1">
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
              </tfoot>
            </table>
          </div>
       
    </div>
</div>