
  <div
    class="
      btn btn-block btn-outline-light
      text-light text-left
      rounded-0
      btn-sm
      border-right-0
    "
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </div>
  <div
    class="
      btn btn-block btn-outline-light
      text-light text-left
      rounded-0
      btn-sm
      border-right-0
    "
    [routerLink]="['/app']"
    routerLinkActive="active"
  >
    Menüpunkt 1
  </div>
  <div
    class="
      btn btn-block btn-outline-light
      text-light text-left
      rounded-0
      btn-sm
      border-right-0
    "
    [routerLink]="['/remaind']"
    routerLinkActive="active"
  >
    Menüpunkt 2
  </div>
